body {
  margin: 0;
  overflow-x: hidden;
}

header {
  display: none;
}

.initial-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 3em;
  -webkit-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link, .site-logo {
  --spacing: 1rem;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav__link::after, .site-logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  outline: 2px solid;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after, .site-logo:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link--btn, .site-logo--btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav__link--btn:hover, .site-logo--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn::after, .site-logo--btn::after {
  display: none;
}

.nav__link--btn--highlight, .site-logo--btn--highlight {
  background: limegreen;
  background-color: limegreen;
  color: #333;
}

.nav__link--btn--highlight:hover, .site-logo--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}

.home-more-stuff {
  background-color: #f4f4f4;
}

.home-more-stuff-title, .lazy-load-title {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: center;
}

.site-logo {
  font-weight: 900;
  font-size: 1.5rem;
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.home-intro {
  padding: 50vh 0;
  background: #123 url(//unsplash.it/900);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.home-about {
  padding: 4em 0;
  max-width: 900px;
  margin: 0 auto;
}

.home-about-title, .home-about-description {
  text-align: center;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col + .col {
  margin-left: 1.5em;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.more-stuff-grid {
  background: #f4f4f4;
  padding: 4em 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: minmax(1em, 1fr) (minmax(200px, 400px))[2] minmax(1em, 1fr);
      grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}

.from-left {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}

.from-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

.from-left, .from-right {
  -webkit-transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.lazy-load, .card {
  display: -ms-grid;
  display: grid;
  padding: 4em 0;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: minmax(1em, 1fr) (minmax(200px, 400px))[2] minmax(1em, 1fr);
      grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}

.right-item {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.left-item {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.lazy-video {
  width: 400px;
  height: 400px;
}

.infinite-container {
  background-color: #f4f4f4;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.finish-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.finish-text {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 0.9rem;
  border: 1.5px solid currentColor;
  border-radius: 2em;
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.finish-text:hover {
  background: #333;
  color: #f4f4f4;
  border-color: #333;
  cursor: pointer;
}

@media screen and (max-width: 875px) {
  .text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: text;
    grid-column: 0;
    margin-top: 50px;
  }
  .image {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
    grid-column: 0;
    width: 400px;
    height: 400px;
  }
  .more-stuff-grid, .lazy-load, .card {
    -ms-grid-rows: minmax(200px, 400px) 150px;
        grid-template-rows: minmax(200px, 400px) 150px;
    -ms-grid-columns: minmax(1em, 1fr) 200px 200px minmax(1em, 1fr);
        grid-template-columns: minmax(1em, 1fr) 200px 200px minmax(1em, 1fr);
        grid-template-areas: ".image image ." ". text text .";
    grid-gap: 0;
  }
}
/*# sourceMappingURL=style.css.map */